#player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#board {
    position: absolute;
    top: 33px;
    left: 33px;
    width: calc(32px * 15);
    height: calc(32px * 10);
    border: 1px solid black;
}

.tile {
    /* background-image: url("../assets/tiles/basic/grass1.png"); */
    position: relative;
    float: left;
    height: 32px;
    width: 32px;
}